[submodule "Middlewares/Third_Party/lvgl"]
	path = Middlewares/Third_Party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Middlewares/Third_Party/Coremark"]
	path = Middlewares/Third_Party/Coremark
	url = https://github.com/eembc/coremark.git
[submodule "Middlewares/Third_Party/Arm-2D"]
	path = Middlewares/Third_Party/Arm-2D
	url = https://github.com/ARM-software/Arm-2D.git
