[submodule "Middlewares/Third_Party/lvgl"]
	path = Middlewares/Third_Party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Middlewares/Third_Party/Coremark"]
	path = Middlewares/Third_Party/Coremark
	url = https://github.com/eembc/coremark.git
